{% load static %}

<link rel = "stylesheet" href = "{% static 'ArtPieces.css' %}">
<link rel = "stylesheet" href = "{% static 'Background.css' %}">
    <body>
        <div class="topnav">
            {% include "MenuBar.html" %}
        </div>
    </body>

<div class="flex-container">
    {% for x in ArtObjects %}
    <a href="/ArtPieces/ArtPieceDetails/{{ x.Title }}"> 
        <img src="{% static x.Title|add:".jpg" %}" alt="">
        <div> 
            <h2 class = "wrap">{{ x.Title }}</h2> 
        </div>
    </a> 
    {% endfor %}  
</div>

