{% load static %}
<link rel = "stylesheet" href = "{% static 'Home.css' %}">
<link rel = "stylesheet" href = "{% static 'ArtPieces.css' %}">
<link rel = "stylesheet" href = "{% static 'Background.css' %}">
<head>
  <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<div class = 'flexContainer'>
  <div class = 'container'>
      <div class="topnav">
        {% include 'MenuBar.html' %}
      </div> 
  </div>
  
  <form class="searchContainer">
    {% with getLocation="search-art" %}
    {% csrf_token %}
    {% include 'partials/search.html' %}
    {% endwith %}
  </form>
  
  <div class="flex-container" id = "results">
    {% include 'partials/search-artresults.html' %}

  </div>
</div>