{% load static %}
<h1> Permanent </h1>
  <div class = "flex-container">
    {% for x in Permanent %}
        <a href="/ArtPieces/ArtPieceDetails/{{ x.IdNo }}" > 
        <section> 
          <ul class="DText">
            <h2 class="wrap">{{ x.IdNo }}</h2> 
            Cost: ${{ x.Cost }}<br>
            Status: {{ x.PcollStatus }}<br>
            Date Acquired: {{ x.DateAquired }}<br>
          </ul>
        </section>
        </a> 
    {% endfor %}
</div>

<h1> Borrowed Collections </h1>
  <div class = "masterContainer">
    {% for x in Borrowed %}
      <li> <a href = "/ArtCollections/BorrowedDetails/{{ x.CollName }}"> {{ x.CollName }} </a> </li>
    {% endfor %}
</div>
