.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    align-items: flex-start;
  }
  
  .flex-container > div {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    border-radius: 5px;
    transition: transform 0.25s;
    align-items: center;
  }

  .flex-container > div:hover{
    transform: scale(1.1);
  }

  .flex-container > a {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    border-radius: 5px;
    transition: transform 0.25s;
  }

  .flex-container > a:hover{
    text-decoration: none;
    transform: scale(1.1);
  }

  .flex-container img{
    align-items: flex-start;
    max-height: auto;
    max-width: 400px;
  }

  .wrap{
    text-wrap: wrap;
    align-items: flex-start;
    max-width: 400px;
    text-align: center;
  }

  .flex-container ul{
    width: calc(100% - 100% / 10px);
  }

  .DisplayContainer {
    height: auto;
    min-width: 100%;
    padding: 10px 10px;
  }

  .DText{
    color: white;
  }