html{
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, #57606F, #D3D3D3);
}

body {
  margin: 0px;
  font: 600 18px verdana;
  letter-spacing: 0.64px;
  color: #000000;
}

h1{
    padding-left: 10px;
    text-align: absolute;
    position: relative;
}



